<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
                    <li><a href="/contact">Tell us what you think?</a></li>
                </ul>
            </nav>
        </div>
        <br />
        <div class="jumbotron">
            <h3 align="center"> Our Credo</h3>
            <p>
                We believe our first responsibility is to the doctors, nurses and patients, to mothers and fathers and all others who use our products and services. In meeting their needs everything we do must be of high quality. We must constantly strive to reduce our costs in order to maintain reasonable prices. Customers' orders must be serviced promptly and accurately. Our suppliers and distributors must have an opportunity to make a fair profit.

                We are responsible to our employees, the men and women who work with us throughout the world. Everyone must be considered as an individual. We must respect their dignity and recognize their merit. They must have a sense of security in their jobs. Compensation must be fair and adequate, and working conditions clean, orderly and safe. We must be mindful of ways to help our employees fulfill their family responsibilities. Employees must feel free to make suggestions and complaints. There must be equal opportunity for employment, development and advancement for those qualified. We must provide competent management, and their actions must be just and ethical.
             <p>
                We are responsible to the communities in which we live and work and to the world community as well. We must be good citizens,support good works and charities and bear our fair share of taxes. We must encourage civic improvements and better health and education. We must maintain in good order the property we are privileged to use, protecting the environment and natural resources.

                Our final responsibility is to our stockholders. Business must make a sound profit. We must experiment with new ideas. Research must be carried on, innovative programs developed and mistakes paid for. New equipment must be purchased, new facilities provided and new products launched. Reserves must be created to provide for adverse times. When we operate according to these principles, the stockholders should realize a fair return.
            </p>
            
            </p>
        </div>
    </div>
</body>
</html>