<body align="middle">

    <h1>Welcome to Photo Management by Johnson and Johnson </h1>

    <form name="loginForm" method="post" action="http://localhost:1337/about">
        <table width="100" align="center">

            <tr>
                <td colspan=2><center><font size=4><b>Login Details</b></font></center></td>
            </tr>

            <tr>
                <td> Username:</td>
                <td><input type="text" size=25 name="userid"></td>
            </tr>

            <tr>
                <td> Password:</td>
                <td><input type="Password" size=25 name="pwd"></td>
            </tr>

            <tr>

                <td><input type="submit" onclick="return check(this.form)" value="Login"></td>


            </tr>

        </table>
    </form>



</body>

