<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Johnson and Johnson Photo Management Site</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <style>
        .jumbotron {
            background-color: #85929E;
            color: #ffffff;
        }
    </style>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Tell us what you think?</a></li>
                </ul>
            </nav>
        </div>
        <br />
        <div class="jumbotron" align="center">

            <h2>Weclome to the Johnson and Johnson Photo Management Website </h2>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" align="center">
                <h3>Search</h3>
                <p>Search Images based on Products,Category etc..</p>
                <a href="search" class="btn btn-link" role="button">Search</a>
            </div>
            <div class="col-sm-4" align="center">
                <h3>Analyse</h3>
                <p>Analyse the Images</p>
                <button type="button" class="btn btn-link">Analyse</button>
            </div>
            <div class="col-sm-4" align="center">
                <h3>Display</h3>
                <p>Surf through the image catalogue</p>
                <button type="button" class="btn btn-link">Display</button>

            </div>
        </div>
    </div>

</body>
</html>
