html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    style.
      .jumbotron {
      background-color: #85929E;
      color: #ffffff;
      }
    div
      .jumbotron
        h2(align='center') Welcome to the Search Menu 
    .container
      .row
        .col-sm-4(align='justify')
          h3 Brand Category
          .radio
            label
              input#1(type='radio', name='optradio', checked='checked')
              | Clean & Clear
          .radio
            label
              input#2(type='radio', name='optradio')
              | Johnson's Baby
          .radio
            label
              input#3(type='radio', name='optradio')
              | Johnson's Body Care
          .radio
            label
              input#4(type='radio', name='optradio')
              | Johnson's pH5.5
          .radio
            label
              input#5(type='radio', name='optradio')
              | Listerine
          .radio
            label
              input#6(type='radio', name='optradio')
              | Neutrogena
          .radio
            label
              input#7(type='radio', name='optradio')
              | OB
          .radio
            label
              input#8(type='radio', name='optradio')
              | Pregaine
          .radio
            label
              input#9(type='radio', name='optradio')
              | Rich
        .col-sm-4(align='justify')
          h3 Product Category
          #target
          script.
            $(document).ready(function () {
            var brand1products = ['Cleanser', 'Others'];
            var brand2products = ["Baby Shampoo", "Baby Lotion", "Baby Bath", "Baby Hair Care","Wipes-Cleaning", "Wipes-Lotion", "Others"];
            var brand3products = ["Body Moisturizer", "Body Wash"];
            var brand4products = ["Body Wash"];
            var brand5products = ["Mouthwash"];
            var brand6products = ["Cleanser", "FMT", "Mask", "Special Cleansing", "Men","H&B","Suncare"];
            var brand7products = ["Tampon"];
            var brand8products = ["Shampoo"];
            var brand9products = ["Dental Floss", "Toothbrush"]
            $('input[type=radio][name=optradio]').change(function () {
            jQuery('#target').html('');
            if (this.id == 1) {
            jQuery.each(brand1products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio">' + '&nbsp'+ val+'</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 2) {
            jQuery.each(brand2products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp' + val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 3) {
            jQuery.each(brand3products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" /> ' + '&nbsp' + val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 4) {
            jQuery.each(brand4products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp'+ val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 5) {
            jQuery.each(brand5products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp' + val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 6) {
            jQuery.each(brand6products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp'+ val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 7) {
            jQuery.each(brand7products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp' + val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 8) {
            jQuery.each(brand8products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp' + val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            else if (this.id == 9) {
            jQuery.each(brand9products, function (i, val) {
            var radioBtn = $('<input type="radio" name="optradio" />' + '&nbsp' + val + '</br>');
            radioBtn.appendTo('#target');
            });
            }
            });
            });
  table
    thead
      tr
        th Product Type
        th Image Location
    tbody
       each item in rows
          tr
            td(align='center', valign='center') 
              img(src=item.prod_hier_l2)
              td = #{item.filename}
                
              
