<!doctype html>
<html>
<head>
    <title>Johnson and Johnson</title>

</head>
<body bgcolor="#F9EBEA">
         
        <header><img src="/img/logo.png" alt="Johnson and Johnson Logo" left="500px"> </header>
        {{{body}}}
    </body>

</html>